<section id="section-about" class="clearfix about">

    <div class="heading center">
        <h2 class="heading__main">Meet the Doctors</h2>
    </div>

    <div class="container bio-card__container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="bio-card">
                    <div class="bio-card__image">
                        <img src="/assets/tong.jpg" alt="Dr. James Tong">
                    </div>
                    <h6 class="bio-card__title">Dr. James Tong</h6>
                    <p class="bio-card__copy">With more than 30 years of clinical dental experience, Dr. James Tong has been practicing pediatric, orthodontic and family dentistry in Montgomery County for more than 20 years now.</p>
                    <p class="bio-card__copy">Dr. Tong is a leader in his dental field and a respected member of his community. He is an active member of the American Academy of Pediatric Dentists, the American Association of Orthodontics, the American Society of Dentistry for Children and the Maryland Academy of Dentists.</p>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn-link" data-toggle="modal" data-target="#tongModal">LEARN MORE</button>
                    <!-- Modal -->
                    <div class="modal fade" id="tongModal" tabindex="-1" role="dialog" aria-labelledby="tongModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="tongModalLabel">Dr. James Tong</h4>
                                </div>
                                <div class="modal-body">
                                    <p> With more than 30 years of clinical dental experience, Dr. James Tong has been practicing pediatric, orthodontic and family dentistry in Montgomery County for more than 20 years now.</p>

                                    <p>Dr. Tong became interested in dentistry at an early age. His father was a chemistry professor at a medical school and his mother was a periodontist. As a boy, Dr. Tong was an outstanding student, but he developed a life-threatening heart condition that forced him to drop out of school. Nevertheless, he studied hard at home and in 1977, he was admitted to the West China University School of Medical Sciences. There, he earned a Bachelor's degree in Stomology, and later, Master's and Doctoral degrees in Orthodontics.</p>

                                    <p>After relocating to the United States in 1991, Dr. Tong earned a specialty certificate in Pediatric Dentistry from the University of Maryland Dental School. He currently serves as a clinical faculty member in the department of Orthodontics.</p>

                                    <p>Dr. Tong is a leader in his dental field and a respected member of his community. He is an active member of the American Academy of Pediatric Dentists, the American Association of Orthodontics, the American Society of Dentistry for Children and the Maryland Academy of Dentists.</p>

                                    <p>In addition to his work and continuing education, Dr. Tong is an accomplished violinist and landscape photographer. He lives in Gaithersburg with his wife and their two children.  </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="bio-card">
                    <div class="bio-card__image">
                        <img src="/assets/khanna.jpg" alt="Dr. Srotalina Khanna">
                    </div>
                    <h6 class="bio-card__title">Dr. Srotalina Khanna</h6>
                    <p class="bio-card__copy">Dr. Khanna was born Orissa, India, but came to the United States at the early age of 2. Her family has been living here ever since. </p>
                    <p class="bio-card__copy">Dr. Khanna attended the University of Maryland for both her Bachelors of Science in Biology and her Doctor of Dental Surgery (DDS) in 2010. She has been working in private practice since graduating and have been a part of our dental family since early 2011.</p>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn-link" data-toggle="modal" data-target="#khannaModal">LEARN MORE</button>
                    <!-- Modal -->
                    <div class="modal fade" id="khannaModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="khannaModalLabel">Dr. Srotalina Khanna </h4>
                                </div>
                                <div class="modal-body">
                                    <p>Dr. Khanna was born Orissa, India, but came to the United States at the early age of 2. Her family has been living here ever since.</p>

                                    <p>She enjoys spending time with her patients and caring for their oral health. Patient education is important to her as well, and so she spends much of her time with each patient, teaching them how to care for their teeth and gums.</p>

                                    <p>Dr. Khanna attended the University of Maryland for both her Bachelors of Science in Biology and her Doctor of Dental Surgery (DDS) in 2010. She has been working in private practice since graduating and have been a part of our dental family since early 2011.</p>

                                    <p>She is an active member of the American General Dentistry, and Maryland State Dental Association.</p>

                                    <p>In her spare time, she enjoys spending time with her husband and performing a classical Indian dance called Kathak.</p>

                                    <p>"The staff here is very warm and caring which makes it a wonderful place to work; I strive to achieve excellence with every patient and to establish a relationship and friendship that will continue for years to come"<br> ~ Dr. Srotalina Khanna</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="bio-card">
                    <div class="bio-card__image">
                        <img src="/assets/patel.jpg" alt="Dr. Monica Patel">
                    </div>
                    <h6 class="bio-card__title">Dr. Monica Patel</h6>
                    <p class="bio-card__copy">Dr. Monica Patel was born and raised in East Tennessee. She has a BA in Psychology from Emory University, and received her DDS degree from University of Tennessee. She also completed a General Practice Residency at St. Barnabas Hospital in New York. She has been practicing dentistry since 2010. </p>
                    <p class="bio-card__copy">
                    Dr. Patel’s passion for dentistry, patience, and attention to detail allow her to provide the highest quality of care for her patients.</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6 class="bio-card__title">Dr. Yumna Valiulla</h6>
                    <p class="footing_byline">"Dr. V" received her DDS from the Columbia University College of Dental Medicine in New York City and was awarded the American Academy of Periodontics Award and Quintessence Award for Restorative Dentistry. Passionate about dentistry, Dr. Valiulla prides herself in the highest quality of dental care and excellent patient care. She is committed to staying up to date with technological and procedural advancements in dentistry. In her free time, she loves spending time with her family. She also enjoys cooking, decorating and traveling.</p>
                </div>
            </div>
        </div>
    </div>

    {% include 'molecules/associations__carousel.twig' %}

</section>

<section id="section-medi" class="parallax medi">
    <div class="container">
        <div class="row">
            <div class="medi__copy col-sm-6 center">
                <h2 class="medi__heading">Not using Medicaid?</h2>
                <h3 class="medi__text">Patients not using medicaid benefits should visit us here:</h3>
                <h3><a href="https://www.tongdentalcare.com/" class="medi__link" target="_blank">www.tongdentalcare.com</a></h3>
            </div>
        </div>
    </div>

</section>