<section id="section-forms">
    <div class="container center">
        <div class="heading">
            <h2 class="heading__title">New Patient Forms</h2>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a href="/assets/pdfs/office-policies.pdf" target="_blank" class="btn btn--style-three">New Patient Registration</a>
            </div>
            <div class="col-sm-4">
                <a href="/assets/pdfs/patient-information.pdf" target="_blank" class="btn btn--style-three">Patient Information</a>  
            </div>
            <div class="col-sm-4">
                <a href="/assets/pdfs/privacy-policy.pdf" target="_blank" class="btn btn--style-three">Privacy Policy</a>
            </div>          
        </div>
        <p class="forms__copy forms__copy--healthy">If you are a MD Healthy Smiles Program patient you can arrange transportation for your child's dental appointment. For a list of local transportation options that participate in this program please download a pdf by clicking here:</p>

        <div class="forms__btn-wrapper">
            <a href="/assets/pdfs/md-healthy-smiles-transportation.pdf" target="_blank" class="btn btn--style-three">Healthy Smiles Program</a>
        </div>
        <p class="forms__copy">Adobe Acrobat is required to view the above forms. If you have trouble seeing the forms or need accommodation, please&nbsp;contact&nbsp;our&nbsp;office.<br><a href="https://get.adobe.com/reader/" target="_blank" class="acrobat">Click here to download the Acrobat Acrobat® software.</a></p>
    </div>
</section>
