<!-- Marquee Slider
============================================= -->
<div id="mobile-background" class="hidden-md hidden-lg">
    <a href="#" data-scrollto="#section-specials" data-offset="0">
        <img src="assets/smith-mobile-slide.jpg" style="width:100%;height:auto;" alt="{{ doctorName }}">
    </a>
</div>

<!-- Slider
============================================= -->
<section id="slider" class="hidden-xxs hidden-xs hidden-sm slider-parallax swiper_wrapper clearfix">
    <div class="swiper-container swiper-parent">
        <div class="swiper-wrapper">

            <!-- Slide
            ============================================= -->
            <div class="swiper-slide slide1" style="background: url('assets/slides/slide3.jpg') 50% 50% no-repeat; background-size: cover;">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-left center">
                        <img src="/assets/slides/slide1-text.png" alt="Meet Dr. James Tong" class="slide__text">
                        <h4 class="slide__copy">Board-Certified, compassionate, caring, gentle and FUN! Find out why Gaithersburg area kids look forward to coming to the dentist.</h4>
                        <a href="#" class="btn" data-scrollto="#section-about" data-offset="80">Learn More</a>
                    </div>
                </div>
                <h4 class="slide__doctor">James Y. Tong, <span class="slide__doctor--sub">DMD, MS, PhD</span></h4>
            </div>

            <!-- Slide
            ============================================= -->
            <div class="swiper-slide slide2" style="background: url('assets/slides/slide2.jpg') 50% 50% no-repeat; background-size: cover;">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-left center">
                        <div class="text-left">
                            <h2 class="slide__title">Your Child Will</h2>
                            <h2 class="slide__title"><span class="slide__title--bold">LOVE</span>&nbsp;it&nbsp;Here!</h2>
                        </div>
                        <h5 class="slide__copy">“Absolutely, the Best!!! My family and I have been going to Dr.&nbsp;Tong for quite a while and have nothing but good things to say about his practice. ”</h5>
                        <h5 class="slide__copy slide__copy--quoter">-Michelle B.</h5>
                        <a href="#" class="btn" data-scrollto="#section-reviews" data-offset="80">Read More Reviews</a>
                    </div>
                </div>
            </div>

            <!-- Slide
            ============================================= -->
            <div class="swiper-slide slide3" style="background: url('assets/slides/slide1.jpg') 50% 50% no-repeat; background-size: cover;">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-left">
                        <img src="/assets/slides/slide3-text.png" alt="Dentistry that makes kids smile!" class="slide__text">
                        <h5 class="slide__copy">Now Welcoming New Patients!</h5>
                        <a href="#" class="btn" data-target="#requestAppointmentForm" data-toggle="modal">Request an Appointment</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% include 'atoms/down-arrow.twig' %}
