<section id="section-smiles" class="parallax smiles">
    <div class="container">
        <div class="row">
            <div class="smiles__copy col-sm-6 col-sm-push-6">
                <h2 class="smiles__heading">Healthy Smiles<br>Dental Program</h2>
                <p class="smiles__text">Maryland Healthy Smiles Dental Program is Maryland's Medicaid Dental Program. This
                    program is for children, pregnant women, and adults in the Rare and Expensive Case Management (REM) Program.
                    The program is here to help you stay healthy.</p>
                <a href="#" class="btn" data-target="#modal--healthy" data-toggle="modal">Learn More</a>
            </div>
        </div>
    </div>

    <div id="modal--healthy" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Healthy Smiles</h3>
                </div>
                <div class="modal-body">
                    <h5>MD Healthy Smiles Dental Program</h5>
                    <p>Inquiries for the MARYLAND HEALTHY SMILES PROGRAM should be made by calling Member Services:
                        (888) 696-9596</p>
                    <h5>What is Maryland Healthy Smiles Dental Program?</h5>
                    <p>Maryland Healthy Smiles Dental Program is Maryland's Medicaid Dental Program. This program is for
                        children, pregnant women, and adults in the Rare and Expensive Case Management (REM) Program.
                        The program is here to help you stay healthy.</p>
                    <p>Through the Maryland Healthy Smiles Dental Program, you or your child will receive the same
                        dental benefits as in the past. The Maryland Healthy Smiles Dental Program is managed by
                        DentaQuest of Maryland, LLC. DentaQuest will work with you to make sure you or your child will
                        receive dental health care. DentaQuest will help you find a dentist that participates in the
                        program and is close to your home, and will help you make an appointment, if needed. If you have
                        any questions about the dental program call (888) 696-9596.</p>
                    <h5>Get More Information:</h5>
                    <p>Visit the MD Healthy Smiles home page for more information on the program. Our office actively
                        participates in the program. For additional details you can visit our faq page.</p>
                    <h5>Transportation Information:</h5>
                    <p>Maryland Healthy Smiles Dental Program may cover a ride to dental appointments. Call the
                        Transportation Coordinator at your Local Health Department (LHD) for assistance. If you do not
                        know how to contact your LHD, call the Maryland Healthy Smiles Program Customer Service at:
                        (888) 696-9596 between the hours of 7:30am to 6:00pm or visit the website at
                        www.dentaquestgov.com.</p>
                    <h5>Transportation Schedules:</h5>
                    <p>If you would prefer to download a pdf of available transportation options you can find one on the
                        new patients page of our website.</p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</section>

<section id="section-services">

    <div class="heading container center">
        <h2 class="heading__title">Services We Offer</h2>
        <h3 class="heading__sub">Select a service below for more information. Remember, prevention is always better than
            treatment, so if it’s been a while since your child has seen a dentist, please give us a call or click to
            <a href="#" data-target="#requestAppointmentForm" data-toggle="modal">request an appointment</a>.</h3>
    </div>

    <div class="container">
        <div class="row">
            <ul class="service-list">
                <li class="service-list__item" data-toggle="modal" data-target="#modal--cleanings">
                    <img src="/assets/services/service-icon.png" alt="Checkmark for Cleanings & Exams">
                    <h3 class="service-list__title">Cleanings & Exams</h3>
                </li>
                <li class="service-list__item" data-toggle="modal" data-target="#modal--crown">
                    <img src="/assets/services/service-icon.png" alt="Checkmark for Crowns">
                    <h3 class="service-list__title">Crowns</h3>
                </li>
                <li class="service-list__item" data-toggle="modal" data-target="#modal--care">
                    <img src="/assets/services/service-icon.png" alt="Checkmark for Home Care">
                    <h3 class="service-list__title">Home Care</h3>
                </li>
                <li class="service-list__item" data-toggle="modal" data-target="#modal--prevent">
                    <img src="/assets/services/service-icon.png" alt="Checkmark for Preventive Care">
                    <h3 class="service-list__title">Preventive Care</h3>
                </li>
                <li class="service-list__item" data-toggle="modal" data-target="#modal--pulp">
                    <img src="/assets/services/service-icon.png" alt="Checkmark for Pulpotomy">
                    <h3 class="service-list__title">Pulpotomy</h3>
                </li>
                <li class="service-list__item" data-toggle="modal" data-target="#modal--sealants">
                    <img src="/assets/services/service-icon.png" alt="Checkmark for Sealants and Fillings">
                    <h3 class="service-list__title">Sealants and Fillings</h3>
                </li>
                <li class="service-list__item" data-toggle="modal" data-target="#modal--sedation">
                    <img src="/assets/services/service-icon.png" alt="Checkmark for Sedation Dentistry">
                    <h3 class="service-list__title">Sedation Dentistry</h3>
                </li>
                <li class="service-list__item" data-toggle="modal" data-target="#modal--space">
                    <img src="/assets/services/service-icon.png" alt="Checkmark for Space Maintainers">
                    <h3 class="service-list__title">Space Maintainers</h3>
                </li>
                <li class="service-list__item" data-toggle="modal" data-target="#modal--xrays">
                    <img src="/assets/services/service-icon.png" alt="Checkmark for Digital X-Rays">
                    <h3 class="service-list__title">Digital X-Rays</h3>
                </li>
                <li class="service-list__item" data-toggle="modal" data-target="#modal--post-op">
                    <img src="/assets/services/service-icon.png" alt="Checkmark for Post Op Care">
                    <h3 class="service-list__title">Post Op Care</h3>
                </li>
            </ul>
        </div>
    </div>

    <img src="/assets/services.jpg" alt="Happy clients of Dr. Tong's services">

    {% include 'molecules/services__modals.twig' %}

</section>