
#google-map,
#google-map5,
.google-map iframe {
  border: 2px solid #fa6d22;
  border-radius: 15px;
  height: 200px !important;

  @media (min-width: $width-xs) {
    height: 250px !important;
  }

  @media (min-width: $width-sm) {
    height: 400px !important;
  }

  @media (min-width: $width-md) {
    height: 400px !important;
  }

  @media (min-width: $width-lg) {
    height: 500px !important;
  }
}

#google-map5 > div {
  border-radius: 30px;
}
