#section-about {
  .heading {
    padding-top: 35px;
    padding-bottom: 20px;
    text-align: center;

    &__main {
      color: #fa6d22;
      margin-bottom: 30px;
      line-height: 1;
    }
  }

  .bio-card {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;

    &__container {
      max-width: 1340px;
      padding: 0 0 45px;
    }

    &__image {
      img {
        width: 100%;
        border-radius: 15px;
        border: 4px solid #fa6d22;
      }
    }

    &__title {
      color: #3c6ecc;
      margin-top: 30px;
      font-weight: 700;
    }

    &__copy {
      color: #000;
      font-size: 14px;
      line-height: 1.3;
    }
  }

  .footing_byline {
    font-size: 14px;
  }

  .btn-link {
    background: none;
    color: #fa6d22;
    text-decoration: underline;
    padding: 0;
    border: none;
  }
}
