//Overrides for Canvas
#footer {
  position: relative;
  background-color: #3c6ecc;
  border-top: none;

  a {
    @include link-color(#fff);
  }

  p {
    font-weight: 400;
    font-family: $ff-lato;
    font-size: 14px;
    line-height: 1.7;
    color: #fff;

    @media screen and (max-width: $width-md) {
      float: none;
    }

    a {
      // text-decoration: underline !important;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .medicaid {
    padding-top: 15px;
    background-color: #8e3ccc;

    &__text {
      font-size: 20px;
      font-weight: 900;
      color: #ffd401;

      &-link {
        color: #ffd401;
        text-decoration: underline !important;
      }
    }
  }

  @media screen and (max-width: $width-md) {
    text-align: center;
  }

  .footer-padding {
    padding: 25px;

    @media (max-width: $width-md) {
      padding: 20px;
    }
  }

  .text {
    @media (min-width: 768px) {
      text-align: right;
    }
  }

  .tyson-steele-text {
    font-weight: 400;
    color: #fff;
    margin-bottom: 5px;
  }

  .facebook-link {
    margin-bottom: 20px;
  }

  .flex--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media (max-width: $width-sm) {
      flex-direction: column;

      .text {
        order: 1;
      }
    }
  }

  .accessibility {
    padding-left: 5px;
  }
}
