#section-forms {
  // background-image: url('/assets/clouds-bg.jpg');
  padding-top: 25px;
  background:
    /* top, transparent white to blue */
    linear-gradient(
      rgba(255, 255, 255, 0.19),
      rgba(0, 189, 255, 0.19)
    ),
    /* bottom, image */
    url('/assets/clouds-bg.jpg');
  background-size: cover;

  .acrobat {
    color: #3e3e3e !important;
    text-decoration: underline !important;
    font-weight: 700;

    @include link-color(#3e3e3e);
  }

  .heading {
    text-align: center;
    padding-bottom: 50px;

    &__title {
      color: #fa6d22;
      line-height: 1;
      padding-bottom: 0;
      padding-top: 10px;
      margin-bottom: 0;
    }

    &__copy {
      color: #3e3e3e;
    }
  }

  .container {
    padding-bottom: 30px;
  }

  .forms {
    &__byline {
      color: #424242;
      font-size: 18px;
      padding-bottom: 15px;
    }

    &__copy {
      color: #3e3e3e;

      &a:hover {
        color: #3e3e3e;
      }

      &--healthy {
        margin-top: 15px;
        margin-bottom: 5px;
      }
    }

    &__btn-wrapper {
      padding-bottom: 30px;
    }
  }

  .btn {
    margin: 10px 0;
    padding: 10px 0;
    width: 230px;
  }

  .line-break {
    display: none;
  }

  @media (min-width: 992px) {
    .btn {
      width: 320px;
      // margin-left: 15px;
      // margin-right: 15px;
    }

    .forms__btn-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .line-break {
      display: inline-block;
      height: 54px;
      width: 1px;
      background: #1a202a;
      line-height: 0;
      margin-bottom: 0;
    }
  }
}
