#header.full-header {
  $c-header: #e8fbff;
  $c-menu-trigger: #2f1d0f;
  $nav-font: $ff-lato;

  width: 100%;
  height: 100px;

  &--transparent {
    position: absolute;

    @media screen and (max-width: $width-md) {
      position: relative;
      border-bottom: #06b7d7 2px solid;
    }
  }

  #primary-menu > ul {
    margin-right: 0;
    border-right: none;

    @include nav-color(#2f1d0f, 400);
    @include nav-color(#066ed7, 700, 1);
    @include nav-color(#0457ab, 700, 2);
    @include nav-color(#05869e, 700, 3);
  }

  #primary-menu-trigger {
    font-size: 30px;
    pointer-events: auto;
    float: left;
    top: 15px;
  }

  #header-wrap {
    background-color: $c-header;
    // background-image: url(/assets/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom: #06b7d7 2px solid;

    @media screen and (max-width: $width-md) {
      background-color: #e8fbff;
    }
  }

  #logo {
    padding-right: 0;
    margin-right: 0;
    border-right: none;
    padding-left: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .icon-reorder {
    color: $c-menu-trigger;
  }

  #logo img {
    padding: 2px;
    // padding-left: 5px;
    max-width: 240px;
  }

  @media screen and (max-width: $width-md) {
    #logo {
      a {
        text-align: right;
        margin-left: 30px;
        margin-right: auto;
        padding-right: 30px;
      }

      img {
        margin-right: auto;
        padding: $spacing-xs;
        max-width: 240px;
      }
    }

    #primary-menu-trigger {
      right: 10px;
      left: auto;
      color: #343b42;
    }
  }

  @media (min-width: 992px) {
    #primary-menu {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  #primary-menu ul {
    min-height: 0;
  }

  #primary-menu ul li {
    @media screen and (max-width: $width-md) {
      border-top: 1px solid #06b7d7;
      background-color: #e8fbff;
      padding-left: 30px;

      &:last-child {
        border-bottom: 1px solid #06b7d7;
      }
    }
  }

  :not(.static-sticky) #primary-menu ul > li > a {
    // letter-spacing: 1px;
    font-size: 14px;
    padding: 0 5px;
    text-transform: none;
    transition: padding 0.3s ease;
    font-family: $ff-lato;

    &:hover {
      text-decoration: underline !important;
    }

    @media (min-width: 1200px) {
      font-size: 16px;
    }
  }
}

//resize header from Canvas
#header,
#header-wrap,
#logo {
  height: 100px !important;
  transition: height 0.4s ease, opacity 0.3s ease;

  @media (max-width: $width-md) {
    height: 100px !important;
  }
}

#logo img {
  height: 75px !important;
  transition: height 0.4s ease, opacity 0.3s ease;

  @media (max-width: $width-md) {
    height: 75px !important;
  }
}

#header.sticky-header:not(.static-sticky),
#header.sticky-header:not(.static-sticky) #header-wrap,
#header.sticky-header:not(.static-sticky) #logo {
  height: 100px !important;
}

#header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo img {
  height: 75px !important;
}
