#section-location {
  padding-bottom: 60px;
  padding-top: 30px;
}

.location__address-two {
  line-height: 0.6;
}

.location__address-two-title {
  padding-top: 10px;
  font-weight: 700;
  color: #5e308b;
}

.location__address-two--two {
  @media (max-width: 1199px) {
    padding-top: 15px;
  }
}

.location.location__two-column {
  display: flex;
  flex-direction: column;
  align-items: center;

  .location__map,
  .location__card--wrapper {
    width: 100%;
  }

  .location__map {
    margin-top: 45px;
  }

  @media (min-width: 768px) {
    flex-direction: row;

    .location__card--wrapper {
      width: 50%;
      padding-right: 50px;
    }

    .location__map {
      margin-top: 0;
      width: 50%;
      height: 100%;
    }
  }

  @media (min-width: 1200px) {
    .location__map,
    .location__card--wrapper {
      width: 50%;
    }
  }
}
