#slider {
  height: 36.45833vw !important;

  .swiper-slide {
    > img {
      width: 100%;
    }

    .container {
      height: 100%;
    }

    .row {
      transform: translateY(-50%);
      top: 50%;
      position: relative;
    }
  }

  .slide1 {
    display: flex;
    align-content: center;
    position: relative;

    .slide__copy {
      color: #000;
      font-weight: 700;
      margin-bottom: 15px;
      max-width: 500px;

      @media (min-width: 1200px) {
        max-width: 600px;
        margin-bottom: 30px;
      }

      @include font-size(24px, 20px, 20px, 18px, 17px);
    }

    .slide__doctor {
      color: #000;
      font-weight: 700;
      position: absolute;
      bottom: 20px;
      right: 20px;
      margin-bottom: 0;
      line-height: 1;

      @include font-size(28px, 20px, 20px, 18px, 17px);

      &--sub {
        color: #000;
        font-weight: 400;

        @include font-size(24px, 18px, 20px, 18px, 17px);
      }
    }
  }

  .slide2 {
    .slide__title {
      color: #3c6ecc;
      text-shadow: 7px 5px 16px #fff;
      line-height: 1;
      margin-bottom: 0;

      @include font-size(54px, 44px);

      &--bold {
        color: #fa6d22;
        font-weight: 900;
        font-family: $ff-lato;

        @include font-size(130px, 90px);
      }
    }

    .slide__text {
      padding-bottom: 10px;
    }

    .slide__copy {
      font-weight: 400;
      margin-bottom: 10px;
      max-width: 450px;

      @media (min-width: 1200px) {
        max-width: 600px;
      }

      @include font-size(20px, 16px);

      &--quoter {
        font-weight: 700;
      }
    }

    .btn {
      padding: 15px 60px;
    }

    .text-left {
      margin-bottom: 10px;
    }
  }

  .slide3 {
    .slide__text {
      padding-bottom: 10px;
    }

    .slide__copy {
      font-weight: 400;
      margin-bottom: 10px;

      @include font-size(37px, 32px);
    }
  }

  .icon-star3 {
    color: $c-star;
  }

  .slide-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

#mobile-background {
  display: none;

  @media (max-width: $width-md) {
    display: block;
    position: relative;
  }
}

.swiper_wrapper {
  height: auto;
}
