#section-services {
  padding: 30px 0 0;
  position: relative;

  .heading {
    &__title {
      color: #5e308b;
      margin-bottom: 30px;
    }

    &__sub {
      color: #010101;

      @include font-size(18px, 18px, 17px, 16px, 15px);

      > a {
        color: #5e308b;
        text-decoration: underline !important;

        &:hover {
          color: #5e308b;
        }
      }
    }
  }

  .service-list {
    list-style: none;
    padding-bottom: 45px;

    @media (min-width: 992px) {
      padding-bottom: 75px;
    }

    &__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-bottom: 15px;
    }

    &__title {
      color: #72469d;
      text-decoration: underline !important;
      margin-bottom: 0;
      line-height: 1;
      padding-left: 15px;

      @include font-size(32px, 28px, 24px, 24px, 20px);

      &:hover {
        color: #72469d;
      }
    }
  }

  > img {
    @media (min-width: 768px) {
      position: absolute;
      bottom: 0;
      right: 0;
      max-width: 490px;
    }

    @media (min-width: 992px) {
      max-width: 650px;
    }

    @media (min-width: 1200px) {
      max-width: 850px;
    }
  }

  .modal {
    p {
      line-height: 1.4;
      margin-bottom: 10px;
    }

    h4,
    h5 {
      margin-bottom: 10px;
      line-height: 1;
    }

    .service-modal__list-item {
      line-height: 1.4;
      margin-bottom: 10px;
    }
  }
}
