<!DOCTYPE html>
<html dir="ltr" lang="en-US">

{% include '/organisms/head.twig' %}

<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

    {% include 'organisms/header.twig' with
    {
    "transparent": false
    }
    %}

    {# {% include 'organisms/marquee.twig' %} #}

    <!-- Content
  ============================================= -->

    <div id="content" >

         {% include 'molecules/cta__two-to-one.twig' with {
            id: 'cta-one',
            existingPatients: true
            }
         %}

        <section id="section-video" class="center">
            <div class="container">
                <div class="row">
                    <div class="heading">
                        <h2 class="heading__title">Watch Our Video</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-push-2">
                        <div class="video__wrapper">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/jc7QonVVLkE" class="embed-responsive-item" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% include 'organisms/about.twig' %}

        {# {% include 'organisms/specials--three-card.twig' %} #}

         {% include 'molecules/cta__two-to-one.twig' with {
            id: 'cta-three',
            existingPatients: false,
            shadow: false,
            classes: ""
            }
         %}

        {# {% include 'organisms/reviews.twig' %} #}

        {# {% include 'organisms/insurance.twig' %} #}

         {% include 'organisms/services.twig' %}

        <div class="cta " id="cta-two">
            <div class="container center">
                <div class="row">
                    <h5 class="cta__welcoming hidden-sm hidden-md hidden-lg">Now Welcoming New Patients!</h5>
                    <div class="flex-wrapper">
                        <div class="cta__new flex-wrapper__item">
                            <h5 class="cta__new-text allow-orphan">New Patient Hotline</h5>
                            <h2 class="cta__new-number allow-orphan">
                                <a href="tel:+18886150491" class="phone-number phone-number--new">(888)&nbsp;615-0491</a>
                            </h2>
                        </div>
                        <div class="vertical-break"></div>
                        <div class="cta__btn flex-wrapper__item">
                            <a href="#" class="btn btn--style-two" data-target="#requestAppointmentForm" data-toggle="modal"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="medicaid">
                <div class="container center">
                    <p class="medicaid__text">Patients without medicaid should visit <a href="https://www.tongdentalcare.com/" class="medicaid__text-link" target="_blank">tongdentalcare.com</a>  </p>
                </div>
            </div>
        </div>

        <section id="section-faqs">
            <div class="container">
                <div class="row">
                    <div class="heading center">
                        <h2 class="heading__title">Frequently Asked Questions</h2>
                        <div class="heading__sub">Select a question below to learn more.</div>
                    </div>
                </div>
                <div class="row">
                    <div class="faq" role="tablist" id="faq-list">
                        <div class="faq__accordion collapsed" role="tab" data-toggle="collapse" data-target="#faq-1">
                            <img src="/assets/faq-icon.png" alt="Icon to open FAQ accordion">
                            <h5 class="faq__header">Does Your Office Participate in the Maryland Health Smiles Dental Program?</h5>
                        </div>
                        <div class="faq__body collapse" role="tabpanel" id="faq-1">
                            <p class="faq__copy">Yes we do!</p>
                        </div>
                    </div>
                    <div class="faq">
                        <div class="faq__accordion collapsed" role="tab" data-toggle="collapse" data-target="#faq-2">
                            <img src="/assets/faq-icon.png" alt="Icon to open FAQ accordion">
                            <h5 class="faq__header">What dental services are covered by the Maryland Healthy Smiles Dental Program?</h5>
                        </div>
                        <div class="faq__body collapse" role="tabpanel" id="faq-2">
                            <p class="faq__copy">Maryland Healthy Smiles Dental Program covers most dental care. This includes exams, x-rays, fillings, cleanings and fluoride treatments. Our practice can review what dental services your child needs and determine if they are covered for you.</p>
                        </div>
                    </div>
                    <div class="faq">
                        <div class="faq__accordion collapsed" role="tab" data-toggle="collapse" data-target="#faq-3">
                            <img src="/assets/faq-icon.png" alt="Icon to open FAQ accordion">
                            <h5 class="faq__header">What if I need a ride to get to a dental appointment?</h5>
                        </div>
                        <div class="faq__body collapse" role="tabpanel" id="faq-3">
                            <p class="faq__copy">Maryland Healthy Smiles Dental Program may cover a ride to dental
                                appointments. Call the Transportation Coordinator at your Local Health Department (LHD)
                                for assistance. If you do not know how to contact your LHD, call the Maryland Healthy
                                Smiles Program Customer Service at: (888) 696-9596 between the hours of 7:30am to 6:00pm
                                or visit the website at <a href="http://www.dentaquestgov.com" target="_blank">www.dentaquestgov.com</a>.</p>
                            <p class="faq__copy">If you need additional information regarding transit schedules, bus
                                routes and transportation options - please visit our "New Patients" page and download
                                the available pdf.</p>
                        </div>
                    </div>
                </div>
            </div>
            <img class="faq__image" src="/assets/faq.jpg" alt="Very happy children with great smiles">
        </section>

        {% include 'organisms/tour.twig' %}
        
        {% include 'organisms/forms.twig' %}

        {% include 'organisms/location.twig' %}

    </div>

    <!-- Modals
    ============================================= -->
    {% include 'organisms/request-modal.twig' %}

    <!-- Footer
    ============================================= -->
    {% include 'organisms/footer.twig' %}

</div><!-- #wrapper end -->

{% include 'organisms/foot.twig' %}

</body>
</html>