//=============================
//      Custom Styles
//=============================
@import "globals/*";
@import "atoms/*";
@import "molecules/*";
@import "organisms/*";

//=============================
//      Shame Styles
//=============================

.link-no-style:hover {
  text-decoration: none !important;
}

.bf-pro:hover {
  text-decoration: underline !important;
}

.mobile-break {
  @media screen and (min-width: 480px) {
    display: none;
  }
}

a[data-target^="#team-"]:hover {
  text-decoration: none;
}

.marquee img {
  width: 100%;
}

iframe[src^="https://birdeye"] {
  @media (max-width: 767px) {
    max-height: 500px;
  }
}

.medicaid {
  padding-top: 15px;
  background-color: #8e3ccc;
  line-height: 1.4;

  &__text {
    font-weight: 900;
    color: #ffd401;

    @include font-size(20px, 18px, 18px, 16px, 16px);

    &-link {
      color: #ffd401;
      text-decoration: underline !important;
    }
  }
}
